<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [style.border-radius]="'0'"
    #sidenav
    [mode]="sidenavMode()"
    [opened]="isOpened()"
    class="sidebar border-0"
  >
    <section class="flex flex-col gap-[60px]">
      <div class="sidebar-header">
        <div class="subtitle">Portal Empleador</div>
      </div>

      <nav>
        <ul class="nav-list">
          @for (item of menuItems; track item.route) {
          <li>
            <a [routerLink]="item.route" routerLinkActive="active-item" class="nav-item">
              <div class="w-[111px] flex flex-col justify-center items-center gap-1.5">
                <svg width="30" height="30" fill="none" stroke="currentColor" class="text-white">
                  <use [attr.href]="'/icons/sprites.svg#' + item.icon" />
                </svg>
                <span class="nav-label">{{ item.label }}</span>
              </div>
            </a>
          </li>
          }

          <li class="menu-reports">
            <button
              class="nav-item menu-reports__button_trigger w-full"
              [matMenuTriggerFor]="reportsMenu"
              #reportsMenuTrigger="matMenuTrigger"
              [class.active-item]="isReportsRouteActive()"
            >
              <div class="w-[111px] flex flex-col justify-center items-center gap-1.5">
                <svg width="30" height="30" fill="none" stroke="currentColor" class="text-white">
                  <use href="/icons/sprites.svg#report" />
                </svg>
                <span class="nav-label">Reportes</span>
              </div>
            </button>

            <mat-menu #reportsMenu="matMenu" class="reports-menu">
              @for (report of reportItems; track report.route; let isLast = $last) {
              <button mat-menu-item [routerLink]="report.route">
                  {{ report.label }}
              </button>
              @if (!isLast) {
                <mat-divider></mat-divider>
              }
              }
            </mat-menu>
          </li>
        </ul>
      </nav>
    </section>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
