@use '@angular/material' as mat;

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-height: 200px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    border-color: #1A73E8 !important;
  }

  &.dragover {
    border-color: #1A73E8 !important;
    background-color: #EFF6FF !important;
  }

  .archivo-seleccionado {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    width: 100%;

    h3 {
      font-size: 2rem;
      font-weight: 500;
      color: #333333;
      margin: 0;
    }

    .file-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;

      .label {
        font-size: 1.6rem;
        color: #6B7280;
        margin: 0;
      }

      .value {
        font-size: 1.6rem;
        color: #374151;
        margin: 0;
        font-weight: 400;
      }
    }
  }
}

.item-label {
  color: #6B7280;
  font-size: 1.6rem;
  @apply leading-[var(--line-height-tight)];
}

.item-value {
  font-size: 1.6rem;
  color : #333333;
  @apply leading-[var(--line-height-tight)];
}

.status-válido {
  @include mat.chips-overrides(
    (
      label-text-color: var(--chip-aprobado-color),
      outline-color: var(--chip-aprobado-border),
      elevated-container-color: var(--chip-aprobado-bg),
    )
  );
}

.status-observado {
  @include mat.chips-overrides(
    (
      label-text-color: var(--color-warning),
      outline-color: var(--color-warning),
    )
  );
}