body {
  color-scheme: light;
  --mat-sys-surface: var(--background-light);
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}
