<div class="p-[36px] pt-[24px] flex flex-col gap-[36px]">
  <div class="flex flex-col gap-[12px]">
    <h2  class="text-[#333333] font-[700] leading-[var(--line-height-tight)] text-[2rem]">Eliminando operación</h2>
    <p class="font-[300] text-[#757575] leading-[var(--line-height-tight)] text-[1.6rem]">¿Está seguro(a) de eliminar esta operación?</p>
  </div>
  <div class="flex justify-end gap-[12px]">
    <button matButton="outlined" mat-dialog-close [disabled]="isLoading()">No, cancelar</button>
    <button matButton="filled" cdkFocusInitial (click)="deleteOprations()" [disabled]="isLoading()">{{! isLoading() ? 'Sí, continuar' : 'Eliminado ...'}}</button>
  </div>
</div>